@import '@styles/base';

.container {
  padding: 0;
  margin: 0;
  height: 100vh;

  @media screen and (max-width: 450px) {
    height: 110vh;
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 960px) {
      height: 30vh;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    // border: 1px solid salmon;
    display: flex;
    width: auto;
    justify-content: center;
    .box_content {
      top: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 40%;
      padding: 10px;
      // border: 1px solid green;
      gap: 10px;
      @media screen and (max-width: 960px) {
        width: auto;
        padding: 20px;
        bottom: 5px;
      }
      @media screen and (max-width: 500px) {
        width: auto;
        padding: 15px;
      }
      .header {
        // border: 1px solid blueviolet;
        display: flex;
        font-size: 16px;
        gap: 10px;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        h1 {
          letter-spacing: 16px;
          font-weight: 600;
          color: white;
        }
      }
      .input_box {
        // border: 1px solid darkred;
        background-color: $color-white;
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        .input {
          width: 100%;
          padding: 20px 10px 20px 10px;
          border: none;
          border-radius: 5px;
        }
      }
      .list_box {
        width: 102%;
        border-radius: 5px;
        background: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .scroll {
          width: 100%;
          height: auto;
          max-height: 240px;
          overflow-y: auto;
        }
        .list {
          padding: 3px 15px 3px 15px;
          border-bottom: 0.1px solid rgb(104, 104, 104);
          display: flex;
          align-items: center;
          max-width: 600px;
          gap: 10px;
          p {
            font-size: 16px;
            overflow: hidden;
          }
          input[type='checkbox'] {
            position: relative;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            outline: none;
            border-radius: 50%;
            cursor: pointer;
          }
          input[type='checkbox']::after {
            position: relative;
            appearance: none;
            display: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            outline: none;
            border-radius: 50%;
            cursor: pointer;
          }

          input[type='checkbox']::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          input[type='checkbox']:checked::before {
            opacity: 50;
          }

          .icons {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
        .utils_box {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          p {
            color: #60637a;
            font-weight: 500;
          }
          button:hover {
            transform: translateY(2px);
          }
          button {
            border: none;
            font-weight: 500;
            color: #60637a;
            background-color: transparent;
          }
          @media screen and (max-width: 567px) {
          }
          .utils_link {
            display: flex;
            gap: 10px;
            a {
              text-decoration: none;
            }
            @media screen and (max-width: 567px) {
              display: none;
            }
          }
        }
      }
      .utils_link_mobile {
        display: none;
        width: 100%;
        @media screen and (max-width: 567px) {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          background-color: white;
          width: 96%;
          padding: 10px;
        }
        button {
          border: none;
          color: #60637a;
          background-color: transparent;
        }
      }
    }
  }
}
