/* Custom dark theme for SweetAlert */
.swal2-popup {
  background-color: #24273d;
  color: #ffffff;
}

.swal2-theme-dark .swal2-title {
  color: #ffffff;
}
.swal2-theme-light .swal2-title {
  color: #24273d;
}

.swal2-text {
  color: #ffffff;
}

.swal2-confirm {
  background-color: #3e43b5;
}

.swal2-cancel {
  background-color: #60637a;
}
