@mixin light-theme {
  --color-bg: hsl(0, 0%, 98%);
  --color-bg-2: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-text-2: hsl(0, 0%, 52%);
}

@mixin dark-theme {
  --color-bg: hsl(207, 26%, 17%);
  --color-bg-2: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
  --color-text-2: hsl(0, 0%, 52%);
}
